.mainContainer {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 3em 100vh;
    grid-template-areas:
        "header header"
        "textArea markdownText"
    ;
    height: 90%;
    width: 100%;
}

/* HEADER STYLES */
.header {
    grid-area: header;
    height: 100%;
    width: 100%;
    background-color: darkslateblue;
    display: flex;
    align-items: center;
}

.header h1 {
    font-family: Roboto, sans-serif;
    font-size: 30px;
    color: whitesmoke;
    margin-left: 10px;
}

.header span {
    font-family: Pacifico,
        cursive;
    font-size: 15px;
    color: whitesmoke;
    margin-left: 10px;
    padding-top: 5px;
    line-height: 1.5;
}

/* TEXT AREA STYLES */
.textArea {
    display: flex;
    justify-content: center;
    grid-area: textArea;
    height: 100%;
    width: 100%;
}

.textArea textarea {
    outline: none;
    resize: none;
    font-family: courier,
        monospace;
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-white-space: nowrap;
    width: 90%;
    height: 86%;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 5px;
    margin-top: 0.5em;
    word-wrap: break-word;
    white-space: normal;
    overflow-y: auto;
    padding: 1rem;
    
}

.textArea textarea i:hover {
    cursor: pointer;
}

.textArea textarea i:active {
    transition: opacity .2s;
    opacity: 0.5;
}


/* MARKDOWN TEXT STYLES */
.markdownText {
    grid-area: markdownText;
    height: 100%;
    overflow-wrap: break-word;
    display: flex;
    justify-content: center;

}

.editor {
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-white-space: nowrap;
    width: 85%;
    height: 86%;
    border: 1px solid rgb(169, 169, 169);
    border-radius: 5px;
    margin-top: 0.5em;
    word-wrap: break-word;
    white-space: normal;
    overflow-y: auto;
    background: #e8e8e8;
    padding: 1rem;
}

.editor::-webkit-scrollbar,
.textArea textarea::-webkit-scrollbar
 {
    width: 0.3em;
}

.editor::-webkit-scrollbar-track,
.textArea textarea::-webkit-scrollbar-track
 {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 0 5px 5px 0;
}

.editor::-webkit-scrollbar-thumb,
.textArea textarea::-webkit-scrollbar-thumb
 {
    background-color: darkslateblue;
    outline: 1px solid slategrey;
    height: 2em;
    border-radius: 2px;
}
