html, body {
    height: 100%;
    width: 100%;
}

.mainContainer {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 3em 1fr;
    grid-template-areas: 
                        "header header"
                        "textArea markdownText"
    ;
    height: 100%;
    width: 100%;
}

.header {
    grid-area: header;
    height: 100%;
    width: 100%;
    background-color: blueviolet;
}

.textArea {
    grid-area: textArea;
    background-color: red;
    height: 100%;
    width: 100%;
}

.markdownText {
    grid-area: markdownText;
    background-color:greenyellow;
    height: 100%;
    width: 100%;
}